# 문제 08 유형(DataSet_08.csv 이용)

 구분자 : comma(“,”), 50 Rows, 5 Columns, UTF-8 인코딩

 스타트업 기업들의 수익성에 대한 분석을 하기 위하여 아래와 같은 데이터를 입수하였다

 
 컬 럼 / 정 의 / Type
 RandD_Spend / 연구개발비 지출 / Double
 Administration / 운영관리비 지출 / Double
 Marketing_Spend / 마케팅비 지출 / Double
 State / 본사 위치 / String
 Profit / 이익 / Double

In [1]:
import pandas as pd

data8=pd.read_csv('C:/Users/joey0/CodeStudy/proDS/Dataset/Dataset_08.csv')

## 1.각 주(State)별 데이터 구성비를 소수점 둘째 자리까지 구하고, 알파벳 순으로 기술하시오(주 이름 기준).

In [2]:
data8.columns

Index(['RandD_Spend', 'Administration', 'Marketing_Spend', 'State', 'Profit'], dtype='object')

In [3]:
data8['State'].value_counts(normalize=True).sort_index().values

#정답 : [0.34, 0.32, 0.34]

array([0.34, 0.32, 0.34])

## 2.주별 이익의 평균을 구하고, 평균 이익이 가장 큰 주와 작은 주의 차이를 구하시오. 차이값은 소수점 이하는 버리고 정수부분만 기술하시오.

In [4]:
q2=data8.copy()

q2_tab=pd.pivot_table(data=q2,
               index='State',
               values='Profit')

q2_tab.max() - q2_tab.min()

#정답 : 14868

Profit    14868.849081
dtype: float64

## 3.독립변수로 RandD_Spend, Administration, Marketing_Spend를 사용하여 Profit을 주별로 예측하는 회귀 모형을 만들고, 이 회귀모형을 사용하여 학습오차를 산출하시오.
 - 주별로 계산된 학습오차 중 MAPE 기준으로 가장 낮은 오차를 보이는 주는 어느 주이고 그 값은 무엇인가? (반올림하여 소수점 둘째 자리까지 기술하시오)
 - (MAPE = Σ ( | y - y ̂ | / y ) * 100/n )

In [6]:
from sklearn.linear_model import LinearRegression

q3=data8.copy()
q3.columns
x_var=['RandD_Spend', 'Administration', 'Marketing_Spend']
state_list=q3.State.unique()

q3_out=[]
for i in state_list:
    temp=q3[q3.State == i]
    lm=LinearRegression().fit(temp[x_var], temp['Profit'])
    pred=lm.predict(temp[x_var])
    # MAPE = Σ ( | y - y ̂ | / y ) * 100/n 
    mape=(abs(temp['Profit'] - pred) / temp['Profit']).sum() * 100 / len(temp)

    q3_out.append([i, mape])

In [8]:
q3_out=pd.DataFrame(q3_out, columns=['var', 'mape'])

q3_out.sort_values(by='mape', ascending=True).head(1)

#정답 : Florida, 5.71

       var      mape
2  Florida  5.706713